@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,800&family=Source+Sans+3&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Source Sans 3', sans-serif; */
}
header{
    position: fixed;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0; 
    left: 0; 
    z-index: 100;
    background-color: aliceblue;
}
.logo{
    font-size: 2em;
    color: rgb(68, 60, 60);
    cursor: default;
}
span{
    color: orange;
}
.navigation a {
    text-decoration: none;
    font-size: 1.1em;
    color: rgb(68, 60, 60);
    margin-right: 40px;
    font-weight: 500;
    transition: .3s;
}
.navigation a:hover{
    color: orange;
}
.tombol-dowland{
    color: #fff;
    text-decoration: none;
    padding: 8px 35px;
    background-color: orange;
    border: 2px solid orange;
    border-radius: 10px;
    font-weight: 500;
    transition: .3s;
    cursor: default;
}
.tombol-dowland:hover{
    color: orange;
    background-color: transparent;
}
.home{
    position: relative;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 30px 100px;
}
.content{
    max-width: 500px;
    color: rgb(68, 60, 60);
}
.content h2{
    font-size: 3em;
}
.content h4{
    font-size: 2em;
}
.content p {
    padding: 10px 0 40px 0;
}
.grup-tombol a{
    text-decoration: none;
    color: #fff;
    padding: 10px 40px;
    background-color: #ffa500;
    border-radius: 10px;
    border: 2px solid #ffa500;
    transition: .3s;
    font-weight: 500;
}
.grup-tombol a:hover:nth-child(1){
    color: #ffa500;
    background: transparent;
}
.grup-tombol a:nth-child(2){
    color: #ffa500;
    background: transparent;
    margin-left: 30px;
    padding: 10px 30px;
}
.grup-tombol a:hover:nth-child(2){
    background-color: #ffa500;
    color: #fff;
}
.sosmed{
    position: absolute;
    bottom: 50px;
}
.sosmed a  {
    display: inline-block;
    width: 35px;
    height: 35px;
    background: transparent;
    border-radius: 50%;
    margin-right: 22px;
    text-align: center;
    line-height: 40px;
    outline: 3px solid #ffa500;
    transition: .3s;
}
.sosmed a:hover{
    transform: translateY(-5px);
}
.sosmed a i {
    color: rgb(68, 60, 60);
    font-size: 20px;
}
